<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">

    <servlet>
        <servlet-name>aphorism</servlet-name>
        <servlet-class>com.incretio.servlets.AphorismServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>like</servlet-name>
        <servlet-class>com.incretio.servlets.LikeServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
    	<servlet-name>default</servlet-name>
    	<url-pattern>/static/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>like</servlet-name>
        <url-pattern>/like</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>aphorism</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    
</web-app>