.table {
	display: table;
	margin: 10px;
}
.row {
	display: table-row;				
}
.cell {
	display: table-cell;
	vertical-align: top;
	padding: 5px;
}
#text {
	width: 500px;
	height: 100px;
}
#author, #image, #video {
	width: 500px;
}