@charset "UTF-8";
body {
	background: #0D1708;
}
.aphorism_block {
	width: 530px;
	margin: 15px auto 15px 0px;
	padding: 20px;
	background: #bbbbbb;
	border: 2px solid rgba(100, 100, 100, 0.75);
	border-radius: 25px;
	box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.6);
}
.aphorism_block:nth-child(odd) {
	background: #bbbb90;
}
.time_block {	
	float: right;
	font-style: italic;
	font-weight: bold;
}
.like_icon {
	float: left;
	margin-top: -7px;
	width: 32px;
	height: 32px;	
	background: url(/static/img/like_icon.png) no-repeat 0 0;
	opacity: 0.5;
	transition: filter 0.5s, opacity 0.5s;
}
.like_icon:hover {
	opacity: 0.8;
	filter: drop-shadow(0px 0px 10px red);
}
.liked .like_icon {
	opacity: 1!important;
}
.text_block {
	text-align: justify;
	text-indent: 30px;
}
.author_block {
	color: blue;
	text-align: right;
	font-weight: bold;
}
.author_block:before {
	content: "[ ";
}
.author_block:after {
	content: " ]";
}
:focus {
	outline: none;
}
.vk_icon {
	background: url(/static/img/vk_icon.png) no-repeat;
	height: 48px;
	width: 48px;
	transition: filter 0.5s;
}
.vk_icon:hover {
	filter: drop-shadow(0px 0px 10px red);
}
.link {
	cursor: pointer;
}
.layout {
	margin: 0 auto;
	width: 800px;
}
.auth_block {
	float: right;
	text-align: center;
	color: wheat;
	width: 150px;
}