@charset "UTF-8";
.aphorism_block {
	width: 600px;
	margin: 15px auto 15px auto;
	padding: 20px;
	background: #bbbbbb;
	border: 2px solid rgba(0, 0, 0, 0.75);
	border-radius: 25px;
	box-shadow: 5px 5px 5px rgba(50, 0, 0, 0.5);
}
.aphorism_block:nth-child(odd) {
	background: #bbbb90;
}
.time_block {	
	float: right;
	font-style: italic;
	font-weight: bold;
}
.like_icon {
	float: left;
	margin-top: -7px;
	width: 32px;
	height: 32px;	
	background: url(/IncretioSite/static/img/like_icon.png) no-repeat 0 0;
	opacity: 0.5;
	transition: filter 0.5s, opacity 0.5s;
}
.like_icon:hover {
	opacity: 0.8;
	filter: drop-shadow(0px 0px 10px red);
}
.liked .like_icon {
	opacity: 1!important;
}
.text_block {
	text-align: justify;
	text-indent: 30px;
}
.author_block {
	color: blue;
	text-align: right;
	font-weight: bold;
}
.author_block:before {
	content: "[ ";
}
.author_block:after {
	content: " ]";
}
:focus {
	outline: none;
}
a {
	color: black;
	text-decoration: none;
}
